.bookings-index-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.booking-list-container {
  box-shadow: 2px 2px 12px rgba(1,1,1,0.2);
  padding: 30px;
  margin: 15px;
  width: 50%;
  border-radius: 8px;
}
