.doppelganger-bio {
  margin-top: 20px;
}

.doppelganger-info h2 {
  margin-top: 30px;
}

.doppelganger-info h5 {
  border-bottom: 1px solid $teal;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 15px;
}

.first-photo {
  width: fit-content;
}

.first-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.smaller-photos {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 40%
}

.second-photo {
  height: 50%;
}

.second-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.third-photo {
  height: 50%;
}

.third-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
