<div style="display: flex; justify-content: space-around;">

<img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1668798076/Screen_Shot_2022-11-18_at_2.01.10_PM_mnnpz0.png" alt="header bookings" style="
    width: 650px;"> <br>

  <div class="booking-list-container">
    <% if @outgoing_bookings.empty? %>
      <p> You have not made any bookings. </p>
    <% else %>
      <h3>Your bookings</h3>
      <% @outgoing_bookings.each do |booking| %>
        <%= render 'bookings/booking_card', booking: booking %>
      <% end %>
    <% end %>
  </div>

  <div class="booking-list-container">
    <% if @incoming_bookings.empty? %>
      <p> Your doppelgangers have no bookings. </p>
    <% else %>
      <h3>Bookings for your doppelganger(s)</h3>
      <% @incoming_bookings.each do |booking| %>
        <%= render 'bookings/booking_card', booking: booking %>
      <% end %>
    <% end %>
  </div>
</div>
