<div class="bookings-index-container">

  <div class="booking-list-container">
    <h3>Outgoing Bookings</h3>
    <% if @outgoing_bookings.empty? %>
      <p> You have not made any bookings. </p>
    <% else %>
      <% @outgoing_bookings.each do |booking| %>
        <%= render 'bookings/booking_card', booking: booking %>
      <% end %>
    <% end %>
  </div>

  <div class="booking-list-container">
    <h3>Incoming Bookings</h3>
    <% if @incoming_bookings.empty? %>
      <p> You have no incoming Bookings </p>
    <% else %>
      <% @incoming_bookings.each do |booking| %>
        <%= render 'bookings/booking_card', booking: booking %>
      <% end %>
    <% end %>
  </div>

</div>
