<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
    <div class="card">
      <li>
        <%= booking.doppelganger.name %>,
        <%= booking.address %>,
        <%= booking.start_date %>,
        <%= booking.end_date %>
      </li>
    </div>
    <% end %>
  </ul>
</div>
