<h1>Pages#home</h1>

<div class="cards">
  <% 12.times do %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Name, Location</h2>
            <p>Profession</p>
          </div>
          <h2 class="card-trip-pricing">$CAD day</h2>
        </div>
      </div>
  <% end %>
</div>
