<div class="cards">
  <% 16.times do %>
      <div class="card-trip">
        <img src="https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512" />
        <div class="card-trip-infos">
          <div>
            <h2>Name, Location</h2>
            <p>Profession</p>
          </div>
          <h2 class="card-trip-pricing">$CAD day</h2>
        </div>
      </div>
  <% end %>
</div>
