.card {
  flex-direction: row;
  align-items: center;
  border-color:#70e7cb;
  margin-bottom: 30px;
  width: 1000px;
  height: 200px;
  ;
}
.card-title {
  font-weight: bold;
}
.card-img-top {
  width: 200px;
  height: 200px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
