.card {
  flex-direction: row;
  align-items: center;
  border-color:#70e7cb;
  margin-bottom: 30px;
  width: 1000px;
  height: 200px;
  text-align: auto;
  ;
}
.card-title {
  font-weight: bold;
}
.card-img-top {
  width: 200px;
  height: 200px;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.cardshow {
  flex-direction: row;
  // align-items: center;
  border-color:#70e7cb;
  margin-bottom: 30px;
  // width: 1000px;
  padding: 10px;
  text-align: auto;
  ;
}

.card-body-show {
  // height: 500px;
  overflow:auto;
  margin-bottom: 1px;
  margin-top: 1px;
}

.card-body-show h1 {
font-size: 30px;
}
.show_container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 1000px;
  margin: 0 auto;
}
