.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color:$teal;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  box-shadow: 2px 2px 12px (1,1,1,0.1);
}

.booking-image {
  align-self: flex-start;
  width: 35%;
  height: 80%;
  border-radius: 8px;
}

.booking-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
}

.card-body {
  padding: 10px;
  text-justify: center;
}

.cardshow {
  flex-direction: row;
  // align-items: center;
  border-color:#70e7cb;
  margin-bottom: 30px;
  // width: 1000px;
  padding: 10px;
  text-justify: center;

  text-align: auto;
  ;
}

.card-body-show {
  // height: 500px;
  overflow:auto;
  margin-bottom: 1px;
  margin-top: 1px;
}

.card-body-show h1 {
font-size: 30px;
}
.show_container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 1000px;
  margin: 0 auto;
}
