.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.show-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.info-container {
  width: 50%;
}

.booking-form-container {
  border: 1px solid $teal;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: sticky;
  max-width: 400px;
  width: 50%;
}
