.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  margin-bottom: 100px;
  flex-direction: column;
}

.doppelganger_info {
  display: flex;
  .photo {
    margin-right: 10px;
  }
}
