.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.map {
  align-self: flex-start;
  position: sticky;
  overflow: hidden;
  height: 84vh;
  top: 15vh;
}
