.navbar-lewagon {
  background: white;
  // overflow: hidden; (so the we can see all the dropdown menu)
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #68C8B1;
  z-index: 10;
  padding-left: 97px;
  padding-right: 97px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  overflow-y: visible !important;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.logo {
  width: 100px
}
