<div class="cards">
  <% @doppelgangers.each do |doppelganger| %>
      <div class="card-trip">
        <img src="https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to doppelganger.name, doppelganger_path(doppelganger) %></h2>
          </div>
          <h3 class="card-pricing"><p><%= doppelganger.rate %>$CAD day</p></h3>
        </div>
      </div>
  <% end %>
</div>

<%# <div> %>
  <%# <% @doppelgangers.where(:gender == 0).each do |doppelganger| %> %>
    <%# <%= doppelganger.name %> %>
    <%# <%= doppelganger.gender %> %>
  <%# <% end %> %>
<%# </div> %>
