<br>
<%= render "doppelgangers/map" %>

<div class="cards">
  <% @doppelgangers.each do |doppelganger| %>
      <div class="card-dg-index">
        <% if  doppelganger.photo.key !=nil %>
          <%= cl_image_tag doppelganger.photo.key, height: 200, width: 300, crop: :fill %>
        <% else %>
        <img src="https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512" />
          <% end %>
        <div class="card-infos">
          <div>
            <h2><%= link_to doppelganger.name, doppelganger_path(doppelganger), class: "link-dg-index-card" %></h2>
          </div>
          <p><%= doppelganger.rate %>$CAD day</p>
          <% if doppelganger.user == current_user %>
            <div class="my-doppelganger-icon abs-icon-index"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1668787116/Screen_Shot_2022-11-18_at_10.58.32_AM_yz3ofh.png" alt="icon" style="width: 90px"></div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
