<div class="container">
  <p>this will show details of a single doppelganger </p>

  <h1><%= @doppelganger.name %></h1>
  <p><%= @doppelganger.age %> years old</p>
  <p> in <%= @doppelganger.location %></p>
  <p> $ <%= @doppelganger.rate %> /hour </p>
</div>
